{% extends 'home.html'%}

{% block reglog %}
            <a href="/reg" class="btn btn-indigo btn-lg">Register
              <i class="fa fa-book ml-2"></i>
            </a>

{% endblock %}           

{% block form %}

                <!-- Form -->
                <form method="POST" action="">
                  <!-- Heading -->
                  <h3 class="dark-grey-text text-center">
                    <strong>USER LOGIN:</strong>
                  </h3>
                  <hr>
                  <!-- {% from "includes/_formhelpers.html" import render_field %} -->
                  <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="form3" class="form-control" name="username" value={{request.form.username}}>
                    <label for="form3">User ID</label>

                  </div>
                  <div class="md-form">
                    <i class="fas fa-asterisk prefix grey-text"></i>
                    <input type="password" id="form2" class="form-control" name="user_password" value={{request.form.user_password}}>
                    <label for="form2">Enter password</label>
                  </div>


                  <div >
                    <!-- <fieldset class="form-check" style="align-content:left">
                      <input type="checkbox" class="form-check-input" id="checkbox1" name="alive">
                      <label for="checkbox1" class="form-check-label dark-grey-text" >Keep me alive.</label>
                    </fieldset> 
                    <hr>-->

                    <div class="text-center">
                        <button class="btn btn-indigo"  type="submit">Enter</button>
                    </div>

                  </div>

                </form>
                <!-- Form -->

              
{% endblock %}
