
{% extends 'theme1layout.html'%}
    
{% block title %}
    All Your Blogs Here!
 {% endblock %}

  
{% block body %}
 <body style="background-color: black;font-size=12;color:white;">
     <!-- <h1 style="color:white;">{{message}} -->
     <!-- Navigation -->
     <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
       <h1 class="brand-logo" style="color:white">{{session['username']}}.BlogMe.com</h1>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="{{url_for('dashboard')}}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a href="/about">About</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="post.html">Sample Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>


    <!-- Page Header -->

    <header class="masthead" style='background-image: url("../../static/img/sea_blue.jpg");'>


      <div class="overlay"></div>
      <div class="container" >
        <div class="row" >
          <div class="col-lg-2 col-md-2 mx-auto">
            <div class="site-heading">
              <div class="avatar">
                    <img alt="image" src="../../static/img/deepika.jpg" style="border-image-width: 30%;" height="100%" width="100%">
                </div>
                <span class="subheading">{{uname[0]}}</span>

            </div>
          </div>
          <div class="col-lg-5 col-md-5 mx-auto">
            <div class="site-heading">
              <h1>Blog Home</h1>
              <span class="subheading">Read All Your Blogs Here!</span>
            </div>
          </div>

      </div>
    </header>

          <!-- Main Content -->
          <div class="container background">
            {%  for i in range(0,post|length) %}
            <div class="row">
              
              <div class="col-lg-11 col-md-10 mx-auto">
                
                  <div class="post-preview" style="height: 30%;width: 100%;align-content: center;">
                        <h2 class="post-title" >
                          {{post_title[i]}}
                        </h2>
                    <h4 class="post-meta">
                      {{post[i]}}
                    </h4>
                    <h5 class="post-subtitle" style="font-style:italic;">
                      Posted by {{uname[i]}} on {{i.post_published_on}}  {{x[i]}} {{day[i]}},{{year[i]}}
                    </h5>

                    <p class="post-meta"> {{num_com[i]}} Comments 
                      <a href="{{url_for('showmore',id = pid[i])}}" style="color: white;"> Show More </a>
                  </div> <!--end post preview-->
                
          </div> <!--end col lg-11-->
         

        </div> <!--end row-->
         {% endfor %}
      </div> <!--end container-->
    <hr>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
</body>

 


{% endblock %}




