<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>All Your Blogs Here!</title>

 <!-- Bootstrap core CSS -->
    <link href='{{url_for("static",filename="vendor/bootstrap/css/bootstrap.min.css")}}' rel="stylesheet">


    <!-- Custom fonts for this template -->
    <link href='{{url_for("static",filename="vendor/fontawesome-free/css/all.min.css")}}' rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href='{{url_for("static",filename="css/clean-blog.min.css")}}' rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script type="text/javascript" src="https://cdn.rawgit.com/carlo/jquery-base64/master/jquery.base64.min.js"></script>
  </head>
  <style type="text/css">
    .background{
      background-color: black;
    }
  /*  .container{
      height: 450px;
    }*/


  </style>

  <body style="background-color: black;font-size=12;color:white;">
     <!-- <h1 style="color:white;">{{message}} -->
     <!-- Navigation -->
     <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="index.html">Hi {{session['username']}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="url_for('dashboard')">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="post.html">Sample Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/img/sea_blue.jpg');">

      <div class="overlay"></div>
      <div class="container" >
        <div class="row" >
          <div class="col-lg-2 col-md-2 mx-auto">
            <div class="site-heading">
              <div class="avatar">
                    <img alt="image" src="static/img/deepika.jpg" style="border-image-width: 30%;" height="100%" width="100%">
                </div>
                <span class="subheading">{{name}}</span>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 mx-auto">
            <div class="site-heading">
              <h1>Blog Title</h1>
              <span class="subheading">A Blog Theme by Start Bootstrap</span>
            </div>
          </div>

      </div>
    </header>

          <!-- Main Content -->
          <div class="container background">
            <div class="row">
              <div class="col-lg-11 col-md-10 mx-auto">
                {%  for i in range(0,post|length) %}
                  <div class="post-preview" style="height: 30%;width: 100%;align-content: center;">
                      <a href="post.html">
                        <h2 class="post-title" >
                          {{post_title[i]}}
                        </h2>
                      </a>
                    <h4 class="post-meta">
                      {{post[i]}}
                    </h4>
                    <h5 class="post-subtitle" style="font-style:italic;">
                      Posted by {{uname[i]}} on {{i.post_published_on}}  {{x[i]}} {{day[i]}},{{year[i]}}
                    </h5>
                    <p class="post-meta"> {{num_com[i]}} Comments</p>
                    <p class="post-meta" style="color:green;">
                      <a href="{{url_for('showmore',id = pid[i])}}"> Show More </a>
                      <!-- <a href="#"></a> -->
                      <!-- <a class="pull-right" style="font-size: 15px;padding-left: 35vw;color: #0085a1;font-weight: normal;font-family: all;" href="/comment" >Comment</a> -->
                    </p>
                  </div>
                <hr>
          {% else %}
              <h1> No Posts Found!! </h1>
              {% endfor %}
            <div class="clearfix">
              <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>

          </div>
        </div>
      </div>
    <hr>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>


</html>
